<% layout('layouts/boilerplate') %>
    <h1>Edit 10am submission</h1>
    <form action="/10/<%=update._id%>?_method=PUT" method="POST">
        <div>
            <label for="person">Person</label>
            <input type="text" id="person" name="update[person]" value="<%= update.person %>">
        </div>

        <button>update submission</button>
    </form>
    <a href="/">Back to homepage</a>