<% layout('layouts/boilerplate') %>


    <form method="get" action="/links/0">
        <button class="button-25" role="button" value="0">Janurary</button>
    </form>

    <form method="get" action="/links/1">
        <button class="button-25" role="button" value="0">February</button>
    </form>


    <form method="get" action="/links/2">
        <button class="button-25" role="button" value="0">March</button>
    </form>

    <form method="get" action="/links/3">
        <button class="button-25" role="button" value="0">April</button>
    </form>

    <form method="get" action="/links/4">
        <button class="button-25" role="button" value="0">May</button>
    </form>

    <form method="get" action="/links/5">
        <button class="button-25" role="button" value="0">June</button>
    </form>

    <form method="get" action="/links/6">
        <button class="button-25" role="button" value="0">July</button>
    </form>

    <form method="get" action="/links/7">
        <button class="button-25" role="button" value="0">August</button>
    </form>

    <form method="get" action="/links/8">
        <button class="button-25" role="button" value="0">Setember</button>
    </form>

    <form method="get" action="/links/9">
        <button class="button-25" role="button" value="0">October</button>
    </form>


    <form method="get" action="/links/10">
        <button class="button-25" role="button" value="0">November</button>
    </form>

    <form method="get" action="/links/11">
        <button class="button-25" role="button" value="0">December</button>
    </form>
    <a href="/">Home Page</a>