<% layout('layouts/boilerplate') %>
    <h1>Mean mood score</h1>
    <p>
        <%- mood %>
    </p>
    <h1>Ear tweak time completed</h1>
    <p>
        <%-tweak%>
    </p>
    <p>
        <%-personInc%>
    </p>