<% layout('layouts/boilerplate') %>
    <h1>mush</h1>
    <h1>
        <%= update._id %>
    </h1>
    <h2>
        <%= update.person %>
    </h2>
    <a href="/updates/new">reload it</a>
    <div>
        <a href="/updates/<%=update._id%>/edit">edit</a>
    </div>
    <div>
        <form action="/updates/<%=update._id%>/?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
    <div>
        <a href="/">Home</a>
    </div>