<% layout('layouts/boilerplate') %>
    <h1>Leighan analysis </h1>

    <h2>Average mood score</h2>
    <p>
        <%-mood%>
    </p>
    <h2>Incident ratio<h2>
            <p>
                <%-incidents /noInc%>
            </p>